body{
  background-color: #CCF2F4;
  text-align: center;
  font-family: 'Merriweather',serif;
  margin: 0;
  font-size: 100%;
  line-height: 2;
  color: #40514E;
}
.tpcld{
  position: relative;
  left: 300px;
}
.btcld{
  position: absolute;
  left:300px;
}
.dot{
  border-style: dotted;
  width:8%;
  margin: auto;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-width: 8px;
  border-color: grey;
}
h1{
  width:40%;
  margin: 0px auto;
  margin-top: 50px;
  font-family: 'Sacramento',cursive;
  font-size:5.625rem;
  text-align: center;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat',sans-serif;
  color: #66BFBF;
  font-size: 300%;
}
h3{
  color:#11999E;
  font-size: 200%;
}
a{
  color:#11999E;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 0.5rem;
}
a:hover{
  color:#EAF6F6;
}
.skill-row{
  width:40%;
  margin: auto;
  margin-top: 100px;
  line-height: 2;
  margin-bottom: 100px;
  text-align: left;
}
p{
  font-size: 20px;
  margin: 0 auto;
}
.top_container{
  padding-top: 50px;
  background-color: #EFFFFD
}
#pro{
  text-decoration: underline;
  font-size: 2.5rem;
}
.ff1{
  /* height: 250px; */
  width:40%;
  float: left;
  margin-right: 20px;
  line-height: 4;
}
.ff2{
  /* height: 250px; */
  width:40%;
  float: right;
  margin-left: 20px;
  line-height: 4;
}
.outer{
  width:25%;
}
#intro{
  width:60%;
}
.last{
  text-align: center;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container{
  padding: 20px;
  background-color: #66BFBF;
  line-height: 2;
}

.footer-link{
  color: #11999E;
  font-size: 30px;
}
.cpy{
  color: #EAF6F6;
}
